# Core Data Processing
numpy>=2.0.0
pandas>=2.2.2
scipy==1.13.0
python-dateutil==2.9.0

# Visualization
matplotlib==3.8.3
plotly==5.18.0
pillow>=10.3.0

# Google Services
gspread==6.0.2
google-auth==2.27.0
oauth2client==4.1.3
google-generativeai==0.3.2

# OpenAI
openai==1.12.0

# Streamlit & Components
streamlit==1.32.2
streamlit-option-menu==0.3.6

# Utilities
requests==2.31.0
